:root {
    --color-spotify: #1dd75e;
    --color-spotify-darker: #23a24d;
    --transition-speed: 300ms;
}

:root[color-mode="light"] {
    --color-primary: #623cea;
    --color-youtube: #ff0000;

    --color-main-bg: white;
    --color-footer-bg: white;
    --color-nav-bg: #f6f8fa;
    --color-text: black;
    --color-text-link: #0366d6;

    --color-card-bg: #f6f8fa;
    --color-border: #eaecef;
    --card-border: 1px var(--color-border) solid;

    /* Input fields */
    --color-input-border: #e1e4e8;
    --color-input-focus-border: #0366d6;
    --color-input-focus-shadow: 0 0 0 3px rgba(3,102,214,0.3);

    /* Error card */
    --color-error-bg: #ffe3e6;
    --color-error-border: rgba(158,28,35,0.2);
    --color-error-icon: rgba(158,28,35,0.6);

    /* Info card */
    --color-info-bg: rgba(150 ,129 ,234, 0.5);
    --color-info-border: #9681EA;
    --color-info-icon: var(--color-primary);
}

:root[color-mode="dark"] {
    --color-primary: #714fe9;
    --color-youtube: #cb0000;

    --color-main-bg: #0e1116;
    --color-footer-bg: #0e1116;
    --color-nav-bg: #171b21;
    --color-text: #dbe0e5;
    --color-text-link: #69a7f8;

    --color-card-bg: #0e1116;
    --color-border: #31363c;
    --card-border: 1px var(--color-border) solid;

    /* Input fields */
    --color-input-border: #525456;
    --color-input-focus-border: #0366d6;
    --color-input-focus-shadow: 0 0 0 3px rgba(3,102,214,0.3);

    /* Error card */
    --color-error-bg: rgba(200, 85, 98, 0.9);
    --color-error-border: rgba(255, 255, 255, 0.2);
    --color-error-icon: #dbe0e5;

    /* Info card */
    --color-info-bg: rgba(150 ,129 ,234, 0.5);
    --color-info-border: #836ae5;
    --color-info-icon: var(--color-text);
}

:root[color-mode="light"] .light-toggle {
    display: none;
}
:root[color-mode="dark"] .dark-toggle {
    display: none;
}


/* General styling */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: var(--color-text);
    background: var(--color-main-bg);
    transition: background-color var(--transition-speed);
    -webkit-transition: background-color var(--transition-speed);
    -moz-transition: background-color var(--transition-speed);
    -o-transition: background-color var(--transition-speed);
}

body {
    position:fixed;
}

a {
    text-decoration: none;
    color: var(--color-text-link);
}

h1 {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 0;
}


/* Utility classes */
.hidden {
    display: none !important;
}

.hidden-present {
    visibility: hidden;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    font-size: 0.9rem;
    border: 1px solid var(--color-border);
    border-radius: 0.33rem;
    background-color: var(--color-card-bg);
}


.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.33rem 1rem;
    line-height:1.25rem;
    font-weight: 500;
    font-size: 0.9rem;
    border: 1px rgba(27, 31, 35, 0.15) solid;
    border-radius: 0.4rem;
    background-color: var(--color-primary);
    outline:none;
    color: #fff;
    transition: all var(--transition-speed);
    -webkit-transition: all var(--transition-speed);
    -moz-transition: all var(--transition-speed);
    -o-transition: all var(--transition-speed);
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


.input-field {
    width: 100%;
    padding: 0.33rem 0.75rem;
    line-height: 1.2rem;
    font-size: 0.75rem;
    vertical-align: middle;
    border-radius: 0.4rem;
    border: 1px solid var(--color-input-border);
    background-color: var(--color-card-bg);
    box-sizing: border-box;
    color: var(--color-text);
}
.input-field:focus {
    outline: none !important;
    border-color: var(--color-input-focus-border);
    box-shadow: var(--color-input-focus-shadow);
}

.input-label {
    align-self: flex-start;
    width: 100%;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.label-link {
    float: right;
    font-size: 0.75rem;
    color: var(--color-text-link);
    text-decoration: none;
    font-weight: 600;
}

.label-link:hover {
    cursor: pointer;
    opacity: 0.8;
}


/* Main site sections (usually the one between the navbar and the footer */
.main {
    width: 100%;
}

.main-header {
    width: 100%;
    margin-bottom: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}

/* Responsiveness */
@media screen and (min-width: 1700px) {
    html {
        font-size: 20px !important;
    }
}
@media screen and (min-width: 2400px) {
    html {
        font-size: 35px !important;
    }
}
@media screen and (min-width: 3000px) {
    html {
        font-size: 45px !important;
    }
}