:root {
    --color-primary: #623CEA;
    --color-spotify: #1DD75E;
    --color-youtube: #F00;

    --color-card-bg: #f6f8fa;
    --color-border: #eaecef;
    --card-border: 1px var(--color-border) solid;
    --color-text-link: #0366d6;

    /* Input fields */
    --color-input-border: #e1e4e8;
    --color-input-focus-border: #0366d6;
    --color-input-focus-shadow: 0 0 0 3px rgba(3,102,214,0.3);

    /* Error card */
    --color-error-bg: #ffe3e6;
    --color-error-border: rgba(158,28,35,0.2);
    --color-error-icon: rgba(158,28,35,0.6);
}


/* General styling */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
    position:fixed;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 0;
}


/* Utility classes */
.hidden {
    display: none;
}

.btn {
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 16px;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
    border: 1px rgba(27, 31, 35, 0.15) solid;
    border-radius: 6px;
    background-color: var(--color-primary);
    transition: all 0.3s;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


/* Main site sections (usually the one between the navbar and the footer */
.main {
    width: 100%;
}

.main-header {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px 0 16px;
}
